{% assign kumiko = "kumiko-" | append_random %}
{% assign deviceWidth = trmnl.device.width | default: 800 | plus: 0 %}
{% assign deviceHeight = trmnl.device.height | default: 480 | plus: 0 %}
{% assign columns = trmnl.plugin_settings.custom_fields_values.columns | 8 | plus: 0 %}
{% assign emptyness = trmnl.plugin_settings.custom_fields_values.emptyness | 5 | plus: 0 %}
{% assign borderWidth = trmnl.plugin_settings.custom_fields_values.border_width | 8 | plus: 0 %}
{% assign strokeWidth = trmnl.plugin_settings.custom_fields_values.stroke_width | 8 | plus: 0 %}

<div class="layout">
  <div id="{{ kumiko }}"></div>
</div>

<script>
  const patterns = [
    {
      "name": "Kara",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" />"
    },
    {
      "name": "1",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48l.037-.36 144-82.8L144.33.212l-.293 166.108 143.707 83.308-143.707-83.308-35.577-20.584 35.577 20.584 35.615-20.519-35.615 20.519-.037 41.103.037-41.103\" />"
    },
    {
      "name": "2",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m50.494.746L168.55 44.374m-49.782.062 119.244 205.167m24.838-43.145-237.302.685\" />"
    },
    {
      "name": "3",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48l.037-.36 144-82.8L144.33.212l-.293 166.108 143.707 83.308-143.707-83.308-35.577-20.584L144.33.212l35.322 145.59 108.092 103.826L144 207.423.037 249.12 108.46 145.736l35.577 20.584 35.615-20.519-35.615 20.519-.037 41.103.037-41.103\" />"
    },
    {
      "name": "4",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m91.735.047 97.95-170.665m-91.556.559 98.825 170.16m45.294-79.569-196.775.505m13.251 78.993L173.722 51.18m-59.072-.338 114.259 198.755m29.83-50.989-229.258-.426m.436 51.311L159.161 25.929m-30.093-.026 128.99 223.71m15.069-26.048-258.233-.147\" />"
    },
    {
      "name": "5",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m47.899-83.16 47.58 83.209m96.628-166.468-95.851-.399m95.851 166.917 48.27-82.81m-96.34-.449L107.9 145.455m36.137 20.865 36.139-20.865m-36.139 20.865v41.73m-72.277 0 72.277-125.19m0 .001 72.278 125.188m0 .001H71.76\" />"
    },
    {
      "name": "6",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m144.037-83.16L107.9 145.455m36.137 20.865 36.139-20.865m-36.139 20.865v41.73m72.166-83.204L0 249.48m143.872.074L144.037 0m-72 124.56 216.038 124.92M47.899 166.32l47.58 83.209m96.628-166.468-95.851-.399m95.851 166.917 48.27-82.81m-96.34-.449L95.48 249.529m48.557-83.209L96.256 82.662m47.781 83.658 96.34.449M96.256 82.662l-.777 166.867m144.899-82.76L96.256 82.662m-.777 166.867 144.899-82.76\" />"
    },
    {
      "name": "7",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m144.037-83.16H47.9m96.137 0 48.07-83.259m-48.07 83.259 48.07 83.259m0-166.518L47.899 166.32m144.208 83.259V83.06M47.899 166.32l144.208 83.259M120.003 124.69l-23.99-41.607m96.094 83.237 48.028.028M120.003 207.95l-24.038 41.58m48.072-138.716L144.33.212m47.777 193.861 95.637 55.555M95.968 194.073.038 249.12\" />"
    },
    {
      "name": "8",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m71.76-41.43 72.277-125.19m0 .001 72.278 125.188m0 .001H71.76M.037 249.12l144-82.8M144.33.212l-.293 166.108m143.707 83.308L144.037 166.32\" />"
    },
    {
      "name": "9",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m169.162-100.29L144.33.213m1.98 196.43 141.434 52.985M116.64 153.126.038 249.12m116.602-95.994L144.33.212m24.832 148.978 118.582 100.438M146.31 196.643.036 249.12m191.648-114.99L144.33.212m3.761 223.466 139.653 25.95M92.337 141.152.037 249.12m92.3-107.968L144.33.212m47.354 133.918 96.06 115.498m-139.653-25.95L.037 249.12m144-82.8L144.33.212m-.293 166.108 143.707 83.308M144.037 166.32l-144 82.8\" />"
    },
    {
      "name": "10",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><g ><path d=\"m47.899 166.32 96.138-79.127 96.082 79.127\"/><path d=\"m192.107 83.061 20.456 122.822L95.996 249.53\"/><path d=\"M192.107 249.579 75.512 205.883 95.996 83.111\"/></g>"
    },
    {
      "name": "11",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M192.57 83.732l-.293 110.918\"/><path d=\"m96.139 249.84 96.138-55.19 96.082 55.19M96.81 83.732l-.293 110.918\"/><path d=\"m.379 249.84 96.138-55.19 96.082 55.19M144.33.212l-.293 110.918m-96.138 55.19 96.138-55.19 96.082 55.19\"/></g>"
    },
    {
      "name": "12",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m78.472-45.355 65.565-113.489m.043 0 65.501 113.526m-.021.037-131.067-.037M91.666 90.603l104.828.067m39.302 68.153-52.472 90.751m-78.674-.04-52.356-90.818M99.99 76.203l88.2.067m55.915 96.962-44.159 76.35m-111.928-.057-44.043-76.418\" />"
    },
    {
      "name": "13",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m78.472-45.355 65.565-37.805m.043-75.684-.043 75.684m65.523 37.879-65.523-37.879M91.666 90.603l104.828.067m39.302 68.153-52.472 90.751m-78.674-.04-52.356-90.818M99.99 76.203l88.2.067m55.915 96.962-44.159 76.35m-111.928-.057-44.043-76.418\" />"
    },
    {
      "name": "14",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"M144.037 0C144.523 118.69 92.978 199.664 0 249.48\"/><path d=\"M288.075 249.48C185.043 190.555 140.69 105.43 144.037 0\"/><path d=\"M0 249.48c102.546-59.766 198.444-55.614 288.075 0\"/><path d=\"M144.037 0C118.114 104.604 69.585 187.263 0 249.48m288.075 0C210.447 174.728 163.127 91.371 144.037 0M0 249.48c103.551-29.852 199.4-29.154 288.075 0\"/></g>"
    },
    {
      "name": "15",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m144.037-47.16L40.044 179.908m207.986 0L144.037 202.32\"/><path d=\"m144.037 76.062-28.692 30.86-9.745-40.426\"/><path d=\"m182.474 66.496-9.744 40.426-28.693-30.86m0-76.062c.293.212-67.29 249.52-67.29 249.52\"/><path d=\"M211.328 249.52S143.744.211 144.038 0m.292.212-.458 249.342\"/></g>"
    },
    {
      "name": "16",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"m144.037 166.32-60.776 40.222 60.62 37.764m.312 0 60.62-37.764-60.776-40.222\"/><path d=\"m53.642 156.384 29.62 50.158-66.87 14.283 56.139 28.692m143.013 0 56.138-28.692-66.869-14.283 29.62-50.158M144.33.212l-.458 249.342\"/></g>"
    },
    {
      "name": "17",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M96.256 82.662l95.85.4m48.272 83.707-48.271 82.81m-96.628-.05-47.58-83.209M144.037 166.32V0m0 166.32 144.038 83.16m-144.038-83.16L0 249.48\"/>"
    },
    {
      "name": "18",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m0 0L176.44 55.893m-64.805 0 176.44 193.587\" />"
    },
    {
      "name": "19",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"M143.872 249.554 72.39 207.686l-.352-83.126\"/><path d=\"m72.037 124.56 72-40.973 72.166 41.26\"/><path d=\"m216.203 124.846-.517 82.84-71.814 41.868M0 249.48l72.389-41.794M144.037 0v83.587M288.075 249.48l-72.389-41.794\"/></g>"
    },
    {
      "name": "20",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"M162.874 177.196H125.2l-52.811 30.49m52.811-30.49 18.837-32.627V83.587m0 60.982 18.837 32.627 52.812 30.49\"/><path d=\"m28.367 200.384 56.262.102-28.676 49.023M172.372 49.114l-28.22 48.673-28.116-49.345m115.337 201.02-28.042-48.776 56.792.323\"/><path d=\"m24.047 207.584 48.342.102-24.02 41.819M168.297 41.773l-24.26 41.814-24.205-41.711m119.936 207.727-24.082-41.917 48.226-.107\"/></g>"
    },
    {
      "name": "21",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m47.899-83.16 47.58 83.209m96.628-166.468-95.851-.399m95.851 166.917 48.27-82.81\"/>"
    },
    {
      "name": "22",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M47.762 221.678.037 249.12M144.233 55.264 144.33.212M240.116 222.018l47.628 27.61\"/><g><path d=\"m47.899 166.32-.137 55.358L95.48 249.53M192.107 83.061l-47.874-27.797-47.977 27.398M192.107 249.579l48.01-27.561.26-55.25\"/></g><g><path d=\"m47.899 166.32 47.58 83.209M192.107 83.061l-95.851-.399M192.107 249.579l48.27-82.81\"/></g><g><path d=\"m47.899 166.32 47.58 83.209M192.107 83.061l-95.851-.399M192.107 249.579l48.27-82.81\"/></g>"
    },
    {
      "name": "23",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m144.037-47.16L40.044 179.908m207.986 0L144.037 202.32\"/><path d=\"m144.037 83.982-31.07 31.736-11.306-42.408m84.752 0-11.306 42.408-31.07-31.736\"/><path d=\"m144.037 76.062-28.692 30.86-9.745-40.426\"/><path d=\"m182.474 66.496-9.744 40.426-28.693-30.86m0-76.062c.293.212-67.29 249.52-67.29 249.52\"/><path d=\"M211.328 249.52S143.744.211 144.038 0m.292.212-.458 249.342\"/></g>"
    },
    {
      "name": "A",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M144.037 166.32V0m0 166.32 144.038 83.16m-144.038-83.16L0 249.48\" />"
    },
    {
      "name": "B",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"m.037 249.12 108-103.68L144.33.212m0 0 35.79 145.371 107.624 104.045m0 0-143.79-41.691L.038 249.12M108.037 145.44l72.083.143m0 0-36.165 62.354m0 0-35.918-62.497\"/></g>"
    },
    {
      "name": "C",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"m.037 249.12 108-103.68L144.33.212m0 0 35.79 145.371 107.624 104.045m0 0-143.79-41.691L.038 249.12M108.037 145.44l36 20.88m36.083-20.737-36.083 20.737m-.082 41.617.082-41.617\"/></g>"
    },
    {
      "name": "D",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"m.037 249.12 108-103.68L144.33.212m0 0 35.79 145.371 107.624 104.045m0 0-143.79-41.691L.038 249.12\"/><path d=\"m108.037 145.44 36 20.88L0 249.48l144.037-83.16m36.083-20.737-36.083 20.737V0v166.32m-.082 41.617.082-41.617 144.038 83.16-144.038-83.16\"/></g>"
    },
    {
      "name": "E",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><path d=\"m108.037 145.44 36 20.88L0 249.48l144.037-83.16m36.083-20.737-36.083 20.737V0v166.32m-.082 41.617.082-41.617 144.038 83.16-144.038-83.16\" />"
    },
    {
      "name": "F",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M59.968 145.44l168.193.143m-24.006-41.629-84.22 145.588m48.055.024-83.973-145.73\" />"
    },
    {
      "name": "G",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M59.968 145.44l168.193.143m-24.006-41.629-84.22 145.588m48.055.024-83.973-145.73\" />"
    },
    {
      "name": "H",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><g ><path d=\"m72.037 124.56 42.357 24.567 59.355.118m42.454-24.399-42.454 24.399-29.78 51.344\"/><path d=\"m143.872 249.554.097-48.965-29.575-51.462\"/></g>"
    },
    {
      "name": "I",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\"/><path d=\"m72.037 124.56 42.357 24.567 59.355.118m42.454-24.399-42.454 24.399-29.78 51.344\"/><path d=\"m143.872 249.554.097-48.965-29.575-51.462M144.037 149.186 144.33.212m14.546 174.675 128.868 74.74m-158.545-74.74L.037 249.12\"/></g>"
    },
    {
      "name": "J",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M72.037 124.56l72 41.76m72.166-41.474-72.166 41.474m-.165 83.234.165-83.234\" />"
    },
    {
      "name": "K",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M49.975 249.48l119.512-205.4m-50.437-.8 118.125 206.2m25.912-43.28-237.637-.8\" />"
    },
    {
      "name": "L",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M97.426 80.62H190.7m50.861 88.184-46.636 80.776m-101.801-.044L46.488 168.76M93.274 87.82h101.577m42.551 73.788-50.788 87.968m-85.178-.044-50.789-87.968M75.525 205.568 144.037 87.82m.266-.458 67.718 118.208m.263.46-136.23-.46\"/></g>"
    },
    {
      "name": "M",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m212.284.109v-43.56M37.801 183.788l37.724 21.78M182.027 65.583l-37.724 21.78m-.431 162.191.165-83.234m-72-41.76 72 41.76m72.166-41.474-72.166 41.474M75.525 205.568v43.95m68.778-162.156-38.062-21.975M212.284 206.03l38.062-21.976M75.525 205.568l68.512-39.248m.266-78.958-.266 78.958m68.247 39.71-68.247-39.71\"/></g>"
    },
    {
      "name": "N",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><g ><path d=\"M195.877 249.589v-53.34M46.004 169.58l46.193 26.67M190.23 79.79l-46.193 26.67M92.197 196.25v53.269m51.84-143.059L97.905 79.826m97.972 116.424 46.133-26.635M92.197 196.25l51.84-29.93m0-59.86v59.86m51.84 29.93-51.84-29.93\"/></g>"
    },
    {
      "name": "O",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><g ><path d=\"m144.217 237.619 113.618-40.516m-227.595 0 113.617 40.516m.18-119.021-37.676 12.824-21.025-29.87m117.402.001-21.024 29.869-37.677-12.824\"/></g>"
    },
    {
      "name": "P",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48\" /><path d=\"M0 249.48c96.025-53.878 192.05-52.865 288.075 0M144.037 0C142.684 110.099 93.795 192.753 0 249.48m288.075 0C193.403 193.259 146.267 109.593 144.037 0\" />"
    },
    {
      "name": "Q",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M144.037 0 96.505 249.48m95.065 0L144.037 0\" />"
    },
    {
      "name": "R",
      "path": "<path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M192.344 83.67 0 249.48\" />"
    },
    {
      "name": "S",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M287.744 249.628 95.673 83.67M192.344 83.67 0 249.48\"/></g>"
    },
    {
      "name": "T",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M108.037 61.432l72.083.143m72.753 126.012-36.165 62.354m-145.506-.001-35.918-62.496\"/><path d=\"m144.037 166.32-90.794 52.372 90.794-52.372m0 0 .042-104.816-.042 104.816m0 0 90.753 52.444-90.753-52.444\"/></g>"
    },
    {
      "name": "U",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M112.684 54.232l62.88.143m81.221 140.835-31.564 54.386m-162.578-.079L31.327 194.99M108.037 61.432l72.083.143m72.753 126.012-36.165 62.354m-145.506-.001-35.918-62.496\"/><path d=\"m144.037 166.32-97.052 55.933 97.052-55.933m0 0 .087-112.016-.087 112.016m0 0 96.966 56.083-96.966-56.083\"/></g>"
    },
    {
      "name": "V",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48M120.912 39.858l46.334.092m97.874 169.574-23.247 40.08m-195.793-.025-23.087-40.173M108.037 61.432l72.083.143m72.753 126.012-36.165 62.354m-145.506-.001-35.918-62.496\"/><path d=\"m144.037 166.32-109.5 63.172 109.5-63.172m0 0 .042-126.416-.042 126.416m0 0 109.46 63.244-109.46-63.244\"/></g>"
    },
    {
      "name": "W",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m0 0 107.45-62.036M144.037 0v124.072M288.075 249.48l-107.45-62.036M71.202 249.94l109.423-62.496M108.037 61.432l-.588 126.012m145.424.143-108.836-63.515M35.284 187.444l108.753-63.084m36.083-62.785.256 125.725m36.332 62.64L107.699 187.3\"/></g>"
    },
    {
      "name": "X",
      "path": "<g ><path d=\"M.037 249.12 144.037 0l.293.212L288.075 249.48l-.33.148L0 249.48m144.037-83.16L0 249.48l144.037-83.16m0 0V0v166.32\"/><path d=\"m144.037 166.32 144.038 83.16-144.038-83.16M71.202 249.94l109.423-62.496M108.037 61.432l-.588 126.012m145.424.143-108.836-63.515M35.284 187.444l108.753-63.084m36.083-62.785.256 125.725m36.332 62.64L107.699 187.3\"/></g>"
    }
  ];

  function mulberry32(a) {
    return function () {
      var t = a += 0x6D2B79F5;
      t = Math.imul(t ^ t >>> 15, t | 1);
      t ^= t + Math.imul(t ^ t >>> 7, t | 61);
      return ((t ^ t >>> 14) >>> 0) / 4294967296;
    }
  }

  function createNoiseMap(seed) {
    const rand = mulberry32(seed);
    const GRID = 8;
    const values = [];
    for (let i = 0; i <= GRID; i++) {
      values[i] = [];
      for (let j = 0; j <= GRID; j++) {
        values[i][j] = rand();
      }
    }

    function lerp(start, end, amt) {
      return (1 - amt) * start + amt * end;
    }

    function smoothstep(x) {
      return x * x * (3 - 2 * x);
    }

    function getNoise(u, v) {
      const gx = u * GRID;
      const gy = v * GRID;

      const xi = Math.floor(gx);
      const yi = Math.floor(gy);

      const clampedXi = Math.max(0, Math.min(xi, GRID - 1));
      const clampedYi = Math.max(0, Math.min(yi, GRID - 1));

      if (xi < 0 || xi >= GRID || yi < 0 || yi >= GRID) {
        return values[Math.max(0, Math.min(xi, GRID))][Math.max(0, Math.min(yi, GRID))];
      }

      const tx = gx - xi;
      const ty = gy - yi;

      const sx = smoothstep(tx);
      const sy = smoothstep(ty);

      // Safe access
      const n00 = values[xi][yi];
      const n10 = values[Math.min(xi + 1, GRID)][yi];
      const n01 = values[xi][Math.min(yi + 1, GRID)];
      const n11 = values[Math.min(xi + 1, GRID)][Math.min(yi + 1, GRID)];

      const ix0 = lerp(n00, n10, sx);
      const ix1 = lerp(n01, n11, sx);

      return lerp(ix0, ix1, sy);
    }

    return (u, v) => {
      let val = 0;
      let amp = 0.5;
      let freq = 1;
      let max = 0;

      for (let i = 0; i < 3; i++) {
        val += getNoise(u * freq + (i * 10.2), v * freq + (i * 5.7)) * amp;
        max += amp;
        amp *= 0.5;
        freq *= 2;
      }

      return val / max;
    };
  }

  const DEFAULT_CONFIG = {
    outputWidth: 800,
    outputHeight: 480,
    columns: 8,
    gridWidth: 255,
    gridHeight: 292,
    xOffset: -20,
    yOffset: -83,
    rotCx: 145,
    rotCy: 125,
    strokeWidth: 10,
    showBorder: true,
    borderWidth: 5,
    emptyBias: 0,
    containerId: '{{ kumiko }}'
  };

  patterns.forEach(p => { p.darkness = p.path.length; });
  patterns.sort((a, b) => a.darkness - b.darkness);

  function getModifiedTriangle(triangle) {
    let { rawRotation } = triangle;
    let rotation = rawRotation;
    let scaleY = 1;
    let offset = [0, 0];

    if (rotation == 330) { offset = [-62, -33]; }
    else if (rotation == 30) { offset = [65, -33]; }
    else if (rotation == 90) { offset = [0, 5]; }
    else if (rotation == 150) { offset = [65, 39]; }
    else if (rotation == 210) { offset = [-63, 36]; }
    else if (rotation == 270) { offset = [2, 2]; }

    return { offset, rotation, scaleY };
  }

  function generateSVG(config, darknessMapFn) {
    let svgContent = '';
    const rotations = [330, 150, 90, 30, 210, 270];

    const geometricWidth = config.columns * config.gridWidth;
    const aspectRatio = config.outputHeight / config.outputWidth;
    const geometricHeight = geometricWidth * aspectRatio;

    const trianglesHigh = Math.ceil(geometricHeight / (config.gridHeight / 2)) + 2;
    const totalGridWidth = config.columns * config.gridWidth;
    const totalGridHeight = trianglesHigh * (config.gridHeight / 2);

    for (let col = 0; col <= config.columns; col++) {
      for (let row = 0; row <= trianglesHigh; row++) {
        const isInverted = !!(col % 2);
        const xGrid = col * config.gridWidth + config.xOffset;
        const yGrid = row * (config.gridHeight / 2) + config.yOffset;

        const nx = col / config.columns;
        const ny = row / trianglesHigh;
        const darkness = darknessMapFn(nx, ny);

        const pIndex = Math.floor(darkness * (patterns.length - 1));
        const pattern = patterns[Math.max(0, Math.min(patterns.length - 1, pIndex))];

        if (!pattern || !pattern.path) continue;

        const rotationIndex = ((row % 6) + (isInverted ? 3 : 0)) % 6;
        const rawRotation = rotations[rotationIndex];

        const { offset, rotation, scaleY } = getModifiedTriangle({ rawRotation });
        const tx = xGrid + offset[0];
        const ty = yGrid + offset[1];
        const transform = `translate(${tx}, ${ty}) scale(1, ${scaleY}) rotate(${rotation}, ${config.rotCx}, ${config.rotCy})`;

        svgContent += `<g transform="${transform}" fill="none" stroke="#000" stroke-width="${config.strokeWidth}">${pattern.path}</g>`;
      }
    }

    let borderElement = '';
    if (config.showBorder) {
      borderElement += `<line x1="0" y1="${config.borderWidth / 4}" x2="${config.outputWidth}" y2="${config.borderWidth / 4}" stroke="black" stroke-width="${config.borderWidth / 2}" />`;
      borderElement += `<line x1="0" y1="${config.outputHeight - config.borderWidth / 4}" x2="${config.outputWidth}" y2="${config.outputHeight - config.borderWidth / 4}" stroke="black" stroke-width="${config.borderWidth / 2}" />`;
      borderElement += `<line x1="${config.outputWidth - config.borderWidth / 4}" y1="0" x2="${config.outputWidth - config.borderWidth / 4}" y2="${config.outputHeight}" stroke="black" stroke-width="${config.borderWidth / 2}" />`;
      borderElement += `<line x1="${config.borderWidth / 4}" y1="0" x2="${config.borderWidth / 4}" y2="${config.outputHeight}" stroke="black" stroke-width="${config.borderWidth / 2}" />`;
    }

    return `<svg xmlns="http://www.w3.org/2000/svg" 
                width="${config.outputWidth}" 
                height="${config.outputHeight}" 
                viewBox="0 0 ${config.outputWidth} ${config.outputHeight}" 
                preserveAspectRatio="xMidYMid slice"
                fill="none" style="background:white">
            ${borderElement ?
              `<svg viewBox="0 0 ${totalGridWidth} ${totalGridHeight}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice">${svgContent}</svg>${borderElement}`
              : `<svg viewBox="0 0 ${totalGridWidth} ${totalGridHeight}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice">${svgContent}</svg>`
            }
            </svg>`;
  }

  function run(options = {}) {
    const config = { ...DEFAULT_CONFIG, ...options };

    const seed = Math.floor(Math.random() * 1000000);
    const noise = createNoiseMap(seed);

    const darknessMap = (u, v) => {
      const n = noise(u, v);
      const threshold = 0.35 + (config.emptyBias / 10) * 0.45;

      if (n < threshold) return 0;
      const normalized = (n - threshold) / (1 - threshold);
      return Math.pow(normalized, 1.5);
    };

    const svg = generateSVG(config, darknessMap);

    // Target specific container if provided, otherwise default 'app'
    const container = document.getElementById(config.containerId);
    if (container) {
      container.innerHTML = svg;
    } else {
      console.error(`Container with ID '${config.containerId}' not found.`);
    }
  }
</script>